body, html, canvas {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

/*Back banner*/

#backBanner {
	width: 100%;
	background-color: #222;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left: 0;
	right: 0;
	z-index: -2;
}

/*Circle*/

#circle {
	height: 90vh;
	width: 90vh;
	margin-top: 5vh;
	background-color:  #feffef;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	border-radius: 45vh;
	z-index: -1;
}

/*Header*/

header {
	font-family: 'Cinzel', serif;
	font-weight: bold;
	text-align: center;
	font-size: 65px;
	width: 100%;
	color: #222;
	cursor: default;
	position: relative;
}

header .title {
	padding-top: 30vh;
	z-index: 999;
}

header .imgBox {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	height: 80vh;
	margin-top: 10vh;
	margin-bottom: 10vh;
	z-index: -1;
}


.horns {
	height: 80vh;
}

/*Menu*/

nav {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}

nav a {
	text-decoration: none;
	color: #333;
	text-align: center;
	font-family: 'Lato', sans-serif;
	width: 100%;
	margin-top: 10px;
	font-size: 20px;
}

/*Mobile*/

@media only screen and (max-width: 1000px) {
	#circle {
		height: 70vw;
		width: 70vw;
		border-radius: 5vw;
		z-index: -1;
	}

	.horns {
		height: 60vw;
	}

	header .title {
		padding-top: 100px;
	}

	header {
		font-size: 120px;
	}
}