body, html, canvas {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #222;
	z-index: -3;
}

/*Circle*/

#circle {
	height: 90vh;
	width: 90vh;
	margin-top: 5vh;
	background-color:  #feffef;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	border-radius: 45vh;
}

/*Header*/

header {
	font-family: 'Cinzel', serif;
	font-weight: bold;
	text-align: center;
	font-size: 65px;
	width: 90vh;
	color: #222;
	cursor: default;
	position: relative;
	margin-left: auto;
	margin-right: auto;	
}

header .title {
	padding-top: 30vh;
	position: relative;
}

header .imgBox {
	margin-top: 10vh;
	margin-bottom: 10vh;
}


.horns {
	height: 80vh;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

/*Menu*/

.subtitle {
	width: auto;
	height: 40px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.subtitle a {
	border: 2px #222 solid;
	border-radius: 3px;
	text-decoration: none;
	color: #222;
	transition: all 1s;
	font-size: 22px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

.subtitle a:hover {
	color: #BB2222;
	border: 2px #BB2222 solid;
}


/*Mobile*/

@media only screen and (max-width: 1000px) {
	#circle {
		height: 70vw;
		width: 70vw;
		border-radius: 5vw;
	}

	.horns {
		height: 60vw;
	}

	header .title {
		padding-top: 100px;
	}

	header {
		font-size: 120px;
		width: 70vh;
	}
}