html, body {
  background-color: white;
}

/*Header*/
/*
#proyectoHeader {
  padding-top: 0px;
  text-align: center;
  padding-bottom: 60px;
  text-transform: uppercase;
  background-color: #ffeccc;
  width: 100%;
}

#proyectoHeader div {
  font-size: 50px;
  color: #2b2e28;
}*/

#proyectoHeader {
  width: 100%;
  text-align: center;
  color: #2b2e28;
  background-color: #ffeccc;
  padding-bottom: 30px;
}

#proyectoHeader div {
  font-size: 24px;
}

.proyectoBG {
  background-color: #2b2e28;
}

.proyectoBG img {
  display:none;
}

#proyectoHeader #ph1 {
  font-weight: 300;
}

#proyectoHeader #ph2 {
  font-weight: 300;
}

/*Projects*/

#proyectoContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.proyectoBox {
  width: 25%;
  position: relative;
  background-color: red;
  overflow: hidden;
  cursor: pointer;
  background-color: #111;
}

.proyectoBox:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.proyectoBG {
  width: 100%;
  height: 100%;
  position: absolute;
}

.fillerBox .proyectoBG {
  background-color: #2b2e28;
}

.proyectoBG img {
  max-height: 100%;
}

.proyectoInfo {
  background-color: #040707;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .2;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.proyectoName {
  color: white;
  font-weight: 600;
  text-align: center;
  display: none;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 10px;
}

.goldenName {
  color: #d1a054;
}

.proyectoInfo:hover {
  opacity: .8;
}

.proyectoInfo:hover .proyectoName {
  display: block;
}

/* Mobile */

@media only screen and (max-width: 1000px) {
  .proyectoBox {
    width: 33.33333%;
  }

  .proyectoInfo {
    opacity: .7;
  }

  .proyectoName {
    display: block;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 4px;
  }

  #proyectoHeader {
    background-color: #2b2e28;
    padding-top: 80px;
    padding-bottom: 20px;
    margin: 0;
  }

  #proyectoHeader div {
    color: white;
    font-size: 35px;
  }

  .fillerBoxLast {
    width: 100%;
    height: 33vw;
  }

  .fillerBoxLast:after {
    content: none;
  }
}

@media only screen and (max-width: 700px) {
  .proyectoName {
    font-size: 7px;
  }
}
