
body {
  background-color: #ffeccc;
  color: #393E41;
  min-height: 100vh;
  padding-top: 110px;
}

p {
  margin: 0;
}

#projectHeader {
  text-align: center;
  margin-top: 20px
}

#projectHeader p {
  display: inline-block;
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 40px;
  font-weight: 300;
  border: 2px solid #393E41;
  text-align: center;
  padding-left: 40px;
}

#contentContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.third {
  width: 23.33333%;
}

.twoThirds {
  width: 56.666666%;
}

.third, .twoThirds, .full {
  margin-left: 5%;
  margin-right: 5%;
  max-height: 300px;
}

.full {
  width: 90%;
}

.smallFont {
  line-height: 30px;
}

.largeFont {
  font-size: 45px;
}

.caps {
  text-transform: uppercase;
}

.centre {
  text-align: center;
}

.thin {
  font-weight: 300;
}

.thicc {
  font-weight: 600;
}

.thiccAsOatmeal {
  font-weight: 800;
}

.imageWide {
  height: 100%;
}

.imageMap {
  height: 70%;
  margin-top: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.containsImage {
  overflow: hidden;
}

.mapContainer {
  overflow: hidden;
  position: relative;
  height: 400px;
}

.techDescription {
  font-weight: 600;
  line-height: 40px;
  margin-top: 40px;
  text-align: left;
}


.buzzwords {
  margin-top: 50px;
}

#map {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#galleryHeader {
  display: block;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

.galleryHeaderElement {
  text-align: center;
  display:inline-block;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.galleryHeaderElementSelected {
  border-bottom: 2px solid #393E41;
  line-height: 22px;
  letter-spacing: -1px;
}

.spacedText {
    letter-spacing: 16px;
}

.standardVerticalMargins {
  margin-top: 60px;
  margin-bottom: 60px;
}

.noMarginTop {
  margin-top: 0;
}

.noMarginBottom {
  margin-bottom: 0;
}

#galleryContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.galleryImage {
  width: 25%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.galleryImageContainer img {
  position:relative;
  display:inline-block;
  text-align:center;
  height: inherit;
}

.wideImage img {
  height: auto !important;
  width: inherit !important;
}

.galleryImageContainer {
  background-color: green;
  width: 25vw;
  height: 25vw;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  cursor: pointer;
}

.zoom {
  position: absolute;
  text-align: center;
  color: white;
  top: 0;
  width: 100%;
  font-size: 40px;
  background-color: black;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease;
}

.zoom .glyphicon {
  top: 50%;
  transform: translateY(-50%);
}

.zoom:hover {
  opacity: .6;
}


#imageViewerBG {
  background-color: black;
  opacity: .7;
  z-index: 1;
}

#imageViewer, #imageViewerBG {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

#imageViewerImage {
  width: 70%;
  height: 70vh;
  margin-top: 15vh;
  margin-bottom: 15vh;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  z-index: 4;
}

#imageViewerImage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
  z-index: 4;
}

#imageViewerControls {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
}

#leftChange {
  top: 0;
  left: 0;
  transform: rotate(180deg);
}

#rightChange {
  right: 0;
  top: 0;
}

#closeViewer {
  top: 0;
  left: 15%;
  width: 70%;
  height: 100vh;
  z-index: 3;
}

.imageViewerControl {
  color: white;
  font-size: 42px;
  height: 100%;
  width: 15%;
  text-align: center;
  position: fixed;
  cursor: pointer;
}

.imageViewerControl .glyphicon {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.5s ease;
}

.imageViewerControl:hover .glyphicon {
  color: #d1a054;
}

#locationMapMobile {
  display: none;
}

@media only screen and (max-width: 1000px) {
  #headerBG, header {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
  }

  #projectHeader {
    width: 100%;
  }

  #projectHeader p {
    font-size: 32px;
    letter-spacing: 15px;
    border: none;
  }

  #techDetails, #buzzwords {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .techDescription {
    text-align: center;
    line-height: 30px;
  }

  #locationMapMobile {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #locationMapMobile img {
    height: auto;
    width: 85%;
  }

  #locationMap {
    display: none;
  }

  #headerDivider {
    border-color: #393E41;
    margin-top: 40px;
  }

  .galleryImage {
    width: 50%;
  }

  .galleryImageContainer {
    height: 50vw;
    width: 50vw;
  }

  .zoom {
    opacity: .3;
  }

  #imageViewer img {
    display: block;
    margin: auto;
    max-width: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    max-height: 100%;
  }

  #closeViewer {
    height: 30vh;
  }
}
