
body {
  background-color: #D6DBB2;
  color: #393E41;
  min-height: 100vh;
  padding-top: 110px;
}

p {
  margin: 0;
}

#projectHeader {
  text-align: center;
}

#projectHeader p {
  display: inline-block;
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 40px;
  font-weight: 300;
  border: 2px solid #393E41;
  text-align: center;
  padding-left: 40px;
}

#contentContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#contentContainer div {
  margin-top: 60px;
  margin-bottom: 60px;
}

.third {
  width: 23.33333%;
}

.twoThirds {
  width: 56.666666%;
}

.third, .twoThirds {
  margin-left: 5%;
  margin-right: 5%;
  max-height: 300px;
}

.full {
  width: 100%;
}

.smallFont {
  line-height: 30px;
}

.largeFont {
  font-size: 45px;
}

.caps {
  text-transform: uppercase;
}

.thin {
  font-weight: 300;
}

.thicc {
  font-weight: 600;
}

.imageWide {
  height: 100%;
}

.containsImage {
  overflow: hidden;
}


@media only screen and (min-width: 1000px) {
  #headerBG, header {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
  }
}
