/*General CSS for all pages*/

/* Colours
Tabique gold: #d1a054
Tabique black: #040707
Light grey: #393E41
Dark grey: #2b2e28
Light gold: #ffeccc
Very light grey: #EEE
Bronze: #AD631B
*/

* {
  font-family: 'Montserrat', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #040707;
}

a, a:visited, a:active {
  text-decoration: none;
}

.fullVHSection {
    min-height: 100vh;
    width: 100%;
}

.noPointerEvents {
  pointer-events: none;
}

/********* Header **********/

header, #headerBG {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  width: 100vw;
  padding: 10px 0px;
  background-color: transparent;
  z-index: 99;
}

#headerBG {
  background-color: #2b2e28;
  opacity: .7;
  transition: all 0.5s ease;
}

#headerLogo {
  height: inherit;
  width: 37.5%;
}

#headerLogo img {
  height: inherit;
  margin-left: 10%;
  cursor: pointer;
}

#headerBar {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.headerBarElement {
  text-align: center;
  width: 25%;
  margin-top: 14px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  color: white;
  transition: all 0.5s ease;
}

.headerBarElement:hover {
  color: #d1a054;
}

.headerBarElementSelected {
  color: #d1a054;
}

#headerSocialMedia {
  width: 12.5%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#headerSocialMedia img {
  height: 20px;
  margin-top: 14px;
  cursor: pointer;
  margin-right: 20px;
}

/***********Footer***********/

footer {
  height: 100px;
  background-color: #eee;
  width: 100%;
}

footer img {
  height: inherit;
  display:block;
  margin:auto;
}

/***********Contact***********/

#contact {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
  z-index: 10;
  background-color: #2b2e28;
  display: none;
}

#contactInfo {
  width: 100%;
  color: white;
  font-weight: 200;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 30px;
}

#contactInfo a {
  color: white;
  width: 100%;
  margin-bottom: 20px;
  transition: all 0.25s ease;
}

#contactInfo a:hover {
  color: #d1a054;
}

#contactButterfly {
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 20px;
}

#contactButterfly img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;;
}



/* Mobile stuff */

#headerHamburger, #hamburgerMenu {
  display: none;
}

.headerBGDark {
  background-color: #111310 !important;
  opacity: 1 !important;
  position: fixed;
}

#contactHamburger {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#contactHamburger .burger-lines:before, #contactHamburger .burger-lines:after {
  background-color: white !important;
}

@media only screen and (max-width: 1000px) {
  #contactInfo {
    font-size: 24px;
  }

  #contactButterfly {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 20px;
  }

  #headerBar, #headerSocialMedia {
    display: none;
  }

  #headerHamburger {
    display: block;
    font-size: 9px;
    margin-top: 9px;
  }

  #hamburgerMenu {
    cursor: pointer;
    display: none;
    box-shadow: 0px 4px 6px 0px rgb(0,0,0,.8);
    z-index: 99;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
  }

  #headerHamburgerContainer {
    margin-left: 50%;
    width: 10%;
    height: inherit;
  }

  .hamburgerElement {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #111310;
    text-align: center;
    cursor: pointer;
  }

  #hamburgerMenu .hamburgerElement:nth-child(even){
    /*background-color: #2b2e28;*/
  }

  .hamburgerElement a {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
  }

  .hamburgerElementSelected a {
    color: #d1a054;
  }

  #socialMediaHam img {
    width: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
