/*General CSS for all pages*/

/* Colours
Tabique gold: #d1a054
Tabique black: #040707
Light grey: #393E41
Dark grey: #2b2e28
*/

* {
  font-family: 'Montserrat', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #040707;
}

.fullVHSection {
    min-height: 100vh;
    width: 100%;
}

.noPointerEvents {
  pointer-events: none;
}

/********* Header **********/

header, #headerBG {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  width: 100%;
  padding: 10px 0px;
  background-color: transparent;
  z-index: 99;
}

#headerBG {
  background-color: #2b2e28;
  opacity: .7;
}

#headerLogo {
  height: inherit;
  width: 37.5%;
}

#headerLogo img {
  height: inherit;
  margin-left: 10%;
  cursor: pointer;
}

#headerBar {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.headerBarElement {
  text-align: center;
  width: 25%;
  margin-top: 14px;
  cursor: pointer;
  font-weight: 300;
  color: white;
  transition: all 0.5s ease;
}

.headerBarElement:hover {
  color: #d1a054;
}

.headerBarElementSelected {
  color: #d1a054;
}

#headerSocialMedia {
  width: 12.5%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#headerSocialMedia img {
  height: 20px;
  margin-top: 14px;
  cursor: pointer;
  margin-right: 20px;
}
