/*
Orange: #fc8403
Purple:
*/

html, body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

b {
  font-weight: 800;
}

hr {
  border-color: #999;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  margin-bottom: 20px;
}

a, a:active, a:visited, a:hover {
  color: black;
}

/* Landing */

.landing {
  width: 100%;
  height: 100vh;
}

.landingTitle {
  text-align: center;
  color: white;
  padding-top: 40vh;
  font-weight: bold;
  font-size: 60px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Concert One', cursive;
}

.parallax {
  background-image: url("images/painting3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url("images/painting2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  width: 100%;
  color: white;
  height: 90px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

#headerLogo {
  width: 30%;
}

#headerMenu {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.headerMenuItem {
  padding-top: 30px;
  width: 25%;
  text-align: center;
  text-transform: uppercase;
}

.headerMenuItem span {
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s ease;
}

.headerMenuItem span:hover {
  font-size: 16px;
}


/* Sections */

.section {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  min-height: 100px;
  background-color: white;
  margin-bottom: 30px;
}

.sectionTitle {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Concert One', cursive;
}

.sectionDescriptionLarge {
  font-size: 20px;
  line-height: 30px;
}

.sectionDescriptionShort {
  text-align: center;
}

/* Colour theory lies */

#liesContainer {
  margin-top: 30px;
  margin-bottom: 80px;
  border-collapse: collapse;
  width: 100%;
}

.glyphContainer, .lieTitle {
  cursor: pointer;
}

.lie td {
  font-size: 18px;
  border: 1px solid #dddddd;
  padding: 20px;
  line-height: 30px;
}

.lieExplanation {
  font-size: 16px;
  margin-top: 15px;
  display: none;
}

/* Facts */

#colourFact {
  margin-bottom: 70px;
}

#factContainer {
  margin-top: 50px;
  width: 100%;
  margin: 0;
}

.fact {
  padding: 60px;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

.factTitle {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.factExplanation {
  font-size: 16px;
}

.factNumber {
  text-align: center;
  font-weight: 400;
  font-size: 42px;
  margin-bottom: 10px;
}

.factDemo {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.orangeSquare {
  width: 100px;
  height: 100px;
  background: #ffa82e;
  border-radius: 5px;
}

#discreteDemo {
  margin-left: auto;
  margin-right: auto;
}

#orangeSquareSpeech {
  position: absolute;
  margin-left: 110px;
  font-size: 14px;
  line-height: 15px;
}

.fact:nth-child(odd) {
  background-color: #eee;
}

#nailsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
}

#nailDemoExplanation {
  width: 70%;
  margin-bottom: 30px;
}

.nail {
  clip-path: polygon(30% 15%, 70% 15%, 70% 22%, 54% 22%, 51% 72%, 49% 72%, 46% 22%, 30% 22%);
  background-color: #555;
  height: 100px;
  width: 50px;
}

#rusty {
  background-color: #825105;
}

#flag {
  width: 20%;
  margin-left: 5%;
  margin-right: 10%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}

#flagDemoExplanation {
  width: 60%;
  margin-left: 5%;
}

#flag div {
  height: 100px;
  width: 33%;
}

#flag .one, #flag .thr {
  background-color: #379392;
}

#flag .two {
  background-color: #9834eb;
}



@media only screen and (max-width: 1000px) {
  #headerMenu {
    display: none;
  }

  #headerLogo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
  }

  .landingTitle {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
  }
}
